header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;

  &.open {
  }

  .hamburger-logo-grp {
    // border: 1px solid red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    // gap: 1.6rem;

    .hamburger {
      // border: 1px solid red;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      // gap: 0.3rem;
      cursor: pointer;
      margin-right: 1.6rem;

      .line {
        width: 1.5rem;
        height: 0.3rem;
        margin-top: 0.3rem;
        background-color: $dark-grayish-blue;
      }
    }

    nav {
      background-color: $black;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 100vh;
      // transform: translateX(-100%);
      transform-origin: 0 0;
      transition: all 0.3s linear;
      z-index: 3;

      .slide-menu {
        background-color: $white;
        height: 100%;
        width: 65vw;
        padding: 2.3rem;

        img {
          transition: transform 0.5s ease;

          &:hover {
            cursor: pointer;
            transform: rotate(90deg);
          }
        }

        ul {
          margin-top: 5rem;
          font-size: 1.8rem;
          font-weight: 700;

          display: flex;
          flex-direction: column;
          // gap: 2.3rem;

          list-style: none;

          li {
            margin-bottom: 2.3rem;
          }

          a,
          :active,
          :visited {
            color: $very-dark-blue;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
              cursor: pointer;
              opacity: 0.75;
            }
          }
        }
      }
    }

    .hidden {
      display: none;
    }
  }

  .cart-avatar-grp {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // gap: 2.2rem;
    // border: 1px solid blue;

    .btn-cart {
      position: relative;
      margin-right: 2.2rem;
      cursor: pointer;

      .cart-count {
        position: absolute;
        top: -25%;
        right: -25%;

        background: $orange;
        color: $white;

        font-size: 1rem;
        font-weight: 700;
        line-height: 100%;

        padding: 0.1rem 0.6rem;
        border-radius: 1rem;
      }
    }

    .avatar {
      width: 2.4rem;

      img {
        width: 100%;
        cursor: pointer;
        border: 2px solid transparent;

        &:hover {
          border: 2px solid $orange;
          border-radius: 50%;
          transition: ease-out 0.2s;
        }
      }
    }
  }

  .cart {
    position: absolute;
    right: 1rem;
    top: calc(calc(100%) + 1rem);
    width: 35.5rem;

    border-radius: 1rem;
    background-color: $white;
    box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.1),
      0 1rem 2rem 1rem rgba(0, 0, 0, 0.1);
    z-index: 1;

    &__header {
      padding: 2.4rem 2rem;
      border-bottom: 1px solid $grayish-blue;

      font-size: 1.6rem;
      font-weight: 700;
    }

    &__product {
      .item {
        margin: 2.4em;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .product-img {
          width: 5rem;
          border-radius: 0.5rem;
        }

        .details {
          color: $dark-grayish-blue;
          font-size: 1.6rem;
          line-height: 2.6rem;

          .price-grp {
            display: flex;
            gap: 0.6rem;

            .total-amount {
              font-weight: 700;
              font-size: 1.7rem;
              color: $black;
            }
          }
        }

        #btnDelete {
          padding: 0.5rem;
          border-radius: 0.5rem;

          &:hover {
            cursor: pointer;
            background-color: $pale-orange;
          }
        }
      }
    }

    .msg-empty {
      padding: 7.8rem;

      color: $dark-grayish-blue;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 700;
    }

    .checkout {
      margin: 2.4rem;
      padding: 1.8rem;
      border-radius: 1rem;

      background-color: $orange;
      color: $white;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 700;

      cursor: pointer;
    }

    .hidden {
      display: none;
    }
  }

  .hidden {
    display: none;
  }
}
