.product {
  padding: 2rem 2.4rem;

  .company-name {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    color: $orange;
    letter-spacing: 0.18rem;
  }

  .title {
    margin-top: 1.3rem;

    font-size: 2.8rem;
    font-weight: 700;
    line-height: 118%;
    color: $very-dark-blue;
  }

  .description {
    margin-top: 1.6rem;

    font-size: 1.5rem;
    line-height: 170%;
    color: $dark-grayish-blue;
  }
}
